
body {

	margin:0 auto;
	padding:0;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Raleway', sans-serif;
	background-color: #f9f9f9;
}

li {
	font-family: 'Raleway', sans-serif;
}


/* Position the navbar container inside the image */

/* The navbar */

.top-container{
	
	margin: 100px auto;
	position: absolute;
	width: 100%;

}
.navbar {
	position: absolute;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
	background-color: #f9f9f9;
}
