 
body {

	margin:0 auto;
	padding:0;
	font-family: 'Raleway', sans-serif;
	background-color: #f9f9f9;
	color: #20362d;

}

h1,h2, h3{
	color: #4e6d2e;
	font-family: 'Bebas Neue', cursive;
}

p,li {
	font-family: 'Raleway', sans-serif;
	line-height: 2;
}


.bg img {
	width: 100%;
	height: 50%;
	position: relative;
}

#navbar { 
  
	background-color: #f9f9f9;
    overflow: hidden;
 	padding: 20px 15px; /* Large padding which will shrink on scroll (using JS) */
  	transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  	position: fixed; /* Sticky/fixed navbar */
 	width: 100%;
  	top: 0; /* At the top */
  	z-index: 99;
}

.container-fluid{
	position: relative;
	margin: 40px auto 100px auto;
	width: 50%;
	text-align: center;
	display: block;
}


.jumbotron {
	position: relative;
	width: 55%;
	padding: 20px 20px 20px 20px;
	margin: 50px auto 50px auto;
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;

}
.jumbotron p{
	font-size: 1em;
}
.btn {
	background-color: #4e6d2e;
	color: white;
}
.btn:hover {
	background-color: #afca33;
}

@media  (max-width: 770px) {

.jumbotron {
	padding: 40px;
	margin: -110px auto;
	width: 75%;
	background: rgba(255, 255, 255, 0.7);
	
}
.navbar {
	top: 0;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #f9f9f9;
	position: fixed;
	
	z-index:99;
}
.navbar-toggler{
	margin: auto;
}

#navbar {
	margin-top: 0px;
	overflow: hidden;

}
img.bg {
	margin-top: 50px;
	height: 50vh;
	position: relative;

	
}
.nav-item {
	line-height: 2;
	font-size: 1.2em;
}
.container{

	margin-top: 200px;
}

	

}
