 
body {

	margin:0 auto;
	padding:0;
	font-family: 'Raleway', sans-serif;
	background-color: #f9f9f9;
	color: #20362d;

}

h1,h2{
	color: #4e6d2e;
	font-family: 'Bebas Neue', cursive;
}

p,li {
	font-family: 'Raleway', sans-serif;
	line-height: 2;
}


.bg img {
	width: 100%;
	height: 50%;
	position: relative;
}

#navbar { 
  
	background-color: #f9f9f9;
    overflow: hidden;
 	padding: 20px 15px; /* Large padding which will shrink on scroll (using JS) */
  	transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  	position: fixed; /* Sticky/fixed navbar */
 	width: 100%;
  	top: 0; /* At the top */
  	z-index: 99;
}

.container-fluid{
	position: relative;
	margin: 40px auto 50px auto;
	width: 50%;
	text-align: center;
	display: block;
}
.middle-container h2{
	padding-bottom: 20px;
}
.col-lg-4{
	padding-bottom: 40px;
}
.col-lg-4 h3{
	color:#20362d;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;

}
.col-lg-4 {
	text-align: center;
}


.jumbotron {
	position: relative;
	width: 55%;
	padding: 20px 20px 20px 20px;
	margin: -370px auto 220px auto;
	background: none;
	text-align: center;
}

.jumbotron h1{
	font-size: 4em;
	color:white;
	font-weight:400;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 30px;
	text-shadow: 1px 1px 2px black; 
}
.btn {
	background-color: #4e6d2e;
	color: white ;
}
.btn:hover {
	background-color: #afca33;
}
.col-lg-12{
	position: relative;
	margin: 60px auto 20px auto;
	width: 75%;
	text-align: center;
	display: block;
}
.bottom-img{
	width:100%;
	margin: auto;
	position: absolute;
	height: auto;
}

#bottom p{
	color: white !important;
	text-shadow: 1px 1px 2px black ; 
	font-size: 1.5rem !important;
}
#bottom h2 {
	color: white;
	text-shadow: 1px 1px 2px black;
	color: #4e6d2e;
}
#bottom{
	width: 75%;
}
#footer{
	position: relative;
	margin: 170px 50px 10px 10px;
}
/*Screen size 1020-770*/

@media (max-width: 1020px){
	#bottom.container-fluid{
		padding-top: 10%;
	}
	#bottom p{
		font-size: 4rem;
		
	}
}


/*s Screen size 770*/

@media  (max-width: 770px) {

.jumbotron {

	padding: 40px;
	margin: -220px auto;
	width: 100%;
	background: none;	
	padding-bottom: 50px;
	position: relative;
}
.jumbotron h1{
	font-size:2rem;
}
.jumbotron .btn{
	font-size: 1rem;

}
.navbar {
	top: 0;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #f9f9f9;
	position: fixed;
	
	z-index:99;
}
.navbar-toggler{
	margin: auto;
}

#navbar {
	margin-top: 0px;
	overflow: hidden;

}
img.bg {
	margin-top: 50px;
	height: 50vh;
	position: relative;

	
}
.nav-item {
	line-height: 2;
	font-size: 1.2em;
}
.container{

	margin-top: 50px;
}
.container-fluid{
	position: relative;
	margin: 280px auto 25px auto;
	width: 75%;
	text-align: center;
	display: block;
}
.col-lg-12{
	position: relative;
	margin: 0px auto 0px auto;
	width: 75%;
	text-align: center;
	display: block;
}
.col-lg-4{
	position: relative;
	margin: 0px auto 0px auto;
	width: 75%;
	text-align: center;
	display: block;
}
#footer.container-fluid{
	margin: auto;
}
.fab{
	font-size: 2rem;
	padding: 5%;
}
.psychology-today {
	width: 60%;
	padding: 10% 10% 15% 0%;
}

@media (max-width: 500px) {

	}
}
	
