body {

	margin:0 auto;
	padding:0;
	font-family: 'Raleway', sans-serif;
	background-color: #f9f9f9;
	color: #20362d;

}

h1,h2{
	color: #4e6d2e;
	font-family: 'Bebas Neue', cursive;
}

p,li {
	font-family: 'Raleway', sans-serif;
	line-height: 2;
}

@media (min-width: 280px){
	/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 1s;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
#logo{
	width: 80%;
	height: 80%;
	display: block;
	margin: 0 auto;
}

#navbar { 
	background-color: #f9f9f9;
    overflow: hidden;
 	padding: 2% 2%; /* Large padding which will shrink on scroll (using JS) */
  	 /* Adds a transition effect when the padding is decreased */
 	width: 100%;
  	top: 0; /* At the top */
  	z-index: 99;
}
.navbar-toggler{
	margin: auto;

}
.nav-item {
	padding: 0 10%
	font-size: 1rem;
}
.navbar{
	display: block;
	text-align: center;
	margin: auto;
}
.img-fluid.bg.lake {
	width: 100%;
	position: relative;
	margin: 0% auto;
	transition: 0.7s;
}
.jumbotron {
	position: relative;
	width: 55%;
	padding: 5%;
	margin: -40% auto 0% auto;
	background: none;
	text-align: center;
}

.jumbotron h1{
	font-size: 1.7em;
	color:white;
	font-weight:400;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 30px;
	text-shadow: 1px 1px 2px black;
	margin-bottom: 20%; 
}
.btn {
	background-color: #4e6d2e;
	color: white ;
	font-size: 1rem;
}
.btn:hover {
	background-color: #afca33;
}

#top.container-fluid{
	position: relative;
	margin: 10% auto 20% auto;
	width: 75%;
	text-align: center;
}	
#top.container-fluid h1{
	font-size: 1.7rem;
	margin-bottom: 10%;
}

.col-lg-4{
	text-align: center;
	width: 75%;
	margin: 0% auto 10%;
}

.col-lg-12{
	position: relative;
	margin: 60px auto 20px auto;
	width: 75%;
	text-align: center;
	display: block;
}
.col-lg-12 h2{
	font-size: 1.7rem;
	margin-bottom: 10%;
}
.col-lg-4 h3{
	color:#20362d;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0% auto 10%;
}

.bottom-img{
	width:100%;
	margin: auto;
	position: absolute;
	height: auto;
}

#bottom.container-fluid{
	padding-top: 60%;
	text-align: center;
	width: 75%;
}
#bottom p{
	color: white;
	text-shadow: 1px 1px 2px black ; 
	font-size: 1.2rem;
}
#bottom h2 {
	color: white;
	text-shadow: 1px 1px 2px black;
	color: #4e6d2e;
}
.footer{
	position: relative;
	margin: auto;
	text-align: center;
}

.fab{
	font-size: 2rem;
	padding: 5%;
}
.psychology-today {
	width: 70%;
	display: block;
	margin: 10% auto;
}
}

@media (min-width: 320px) {

#logo{
	width: 80%;
	height: 80%;
}

#navbar { 
	background-color: #f9f9f9;
    overflow: hidden;
 	padding: 2% 2%; /* Large padding which will shrink on scroll (using JS) */
  	/*transition: 0.4s;*/ /* Adds a transition effect when the padding is decreased */
 	width: 100%;
  	top: 0; /* At the top */
  	z-index: 99;
}
.navbar-toggler{
	margin: auto;
}
.nav-item {
	padding: 2px 25px 2px 30px;
	font-size: 1.2rem;
}
.navbar{
	display: block;
	text-align: center;
	margin: auto;
}
.img-fluid.bg.lake {
	width: 100%;
	position: relative;
	margin: 0% auto;
}
.jumbotron {
	position: relative;
	width: 55%;
	padding: 5%;
	margin: -40% auto 0% auto;
	background: none;
	text-align: center;
}

.jumbotron h1{
	font-size: 1.7em;
	color:white;
	font-weight:400;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 30px;
	text-shadow: 1px 1px 2px black;
	margin-bottom: 20%; 
}
.btn {
	background-color: #4e6d2e;
	color: white ;
	font-size: 1rem;
}
.btn:hover {
	background-color: #afca33;
}

#top.container-fluid{
	position: relative;
	margin: 10% auto 20% auto;
	width: 75%;
	text-align: center;
}	
#top.container-fluid h1{
	font-size: 1.7rem;
	margin-bottom: 10%;
}

.col-lg-4{
	text-align: center;
	width: 75%;
	margin: 0% auto 10%;
}

.col-lg-12{
	position: relative;
	margin: 60px auto 20px auto;
	width: 75%;
	text-align: center;
	display: block;
}
.col-lg-12 h2{
	font-size: 1.7rem;
	margin-bottom: 10%;
}
.col-lg-4 h3{
	color:#20362d;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0% auto 10%;
}

.bottom-img{
	width:100%;
	margin: auto;
	position: absolute;
	height: auto;
}

#bottom.container-fluid{
	padding-top: 60%;
	text-align: center;
	width: 75%;
}
#bottom p{
	color: white;
	text-shadow: 1px 1px 2px black ; 
	font-size: 1.2rem;
}
#bottom h2 {
	color: white;
	text-shadow: 1px 1px 2px black;
	color: #4e6d2e;
}
.footer{
	position: relative;
	margin: auto;
	text-align: center;
}

.fab{
	font-size: 2rem;
	padding: 5%;
}
.psychology-today {
	width: 70%;
	display: block;
	margin: 10% auto;
}
}

@media (min-width: 360px) {
.psychology-today {
	width: 65%;
}
.btn.btn-lg {
	margin-top: 10%;
}
}
/*Media width 400*/
@media (min-width: 400px) {
.jumbotron{
	margin: -35% auto 0% auto;
	width: 75%;
} 
.btn.btn-lg {
	margin-top: 10%;
}
}

/*Media width 413 */
@media (min-width: 413px) {
.btn.btn-lg {
	margin-top: 10%;
}
.psychology-today {
	width: 60%;
}
.jumbotron h1 {
	font-size: 2rem;
}
#top.container-fluid{
	
	margin: 5% auto 13% auto;
	
}
}
/*Media width 462*/
@media (min-width: 462px) {

#logo{
	width: 65%;
	height: 65%;
	position: relative;
}
#navbar {
	padding: 2% 0% 2%;
}
.img-fluid.bg.lake {
	margin: 0% auto;
}
.jumbotron{
	margin: -35% auto 0% auto;
	width: 75%;
} 
.btn.btn-lg {
	margin-top: 7%;
}
.psychology-today {
	width: 50%;
}
.fab{
	font-size: 2.5rem;
	padding: 5%;
}
}
@media (min-width: 508px){

#logo {
	width: 300px;
	height:80px;
	right: 30px;
	
}
.navbar-toggler{
	position: fixed;
	top:20px;
	right: 20px;
	background-color: #f9f9f9;
}
#navbar {
	position:fixed;
	padding-top: 10px;
}

.img-fluid.bg.lake {
	margin: 20% auto 0%;
}
.btn.btn-lg {
	margin-top: 10%;
}
.jumbotron{
	margin: -40% auto 0% auto;
	width: 75%;

}
.jumbotron h1{
	padding: 0;
	margin: 0;
}

#top.container-fluid h2{
	font-size: 1.7rem;
	margin: 15% auto 10%;
}

.psychology-today {
	width: 45%;
}
}

@media (min-width: 567px){

#header {
	padding: 2% 2% 2%;
	transition: 0;
}
.nav-item {
	padding: 0 25px 0 30px;
	font-size: 1.2rem;
	width: 100%;
}
.img-fluid.bg.lake {
	margin: 17% auto;
}
.btn.btn-lg {
	margin-top: 10%;
}
.jumbotron{
	margin: -57% auto 0% auto;
	width: 75%;
}
.jumbotron h1 {
	font-size: 2.2rem;
	margin-top: 0%;
}
#top.container-fluid{
	position: relative;
	margin: 15% auto 10% auto;
	width: 75%;
	text-align: center;
}
#top.container-fluid h1{
	font-size: 1.7rem;
	margin: 0% auto 10%;
}
.psychology-today {
	width: 45%;
}
}
@media (min-width: 624px) {
.jumbotron h1 {
	font-size: 2.5rem;
}
#top.container-fluid{
	margin: 10% auto 10% auto;
	
}
}
@media (min-width: 708px){
#logo{
	width: 50%;
	height: 50%;
}
.jumbotron h1 {
	font-size: 3rem;
}
#top.container-fluid{
	margin: 10% auto 10% auto;
	
}
}
@media (min-width: 852px){

.jumbotron h1 {
	font-size: 3.5rem;
}
#top.container-fluid{
	margin: 10% auto 10% auto;
	
}
}

@media (min-width: 991px){
ul.navbar-nav.ml-auto{
	position: relative;
	margin: 0 auto;
	width: 75%;
}

.img-fluid.bg.lake {
	margin: 12% auto;
}
.jumbotron{
	margin: -45% auto 0% auto;
	width: 75%;
}
.jumbotron h1 {
	font-size: 4rem;
}
#top.container-fluid{
	margin: 10% auto 10% auto;
	width: 50%;
}
	
#top.container-fluid h2{
	font-size: 2rem;
	margin-bottom: 10%;
}
}
